/*ANIMACION ULTIMOS AMIGOS*/
.ultimosAmigos a__contenedor {
  position: relative;
}

.ultimosAmigos a__contenedor__capa {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #0d238f;
}

.ultimosAmigos a__contenedor__capa__texto {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.ultimosAmigos a__contenedor:hover .capa {
  opacity: 0.7;
}
