/*ETIQUETAS*/
header {
  min-height: 10vh;
  user-select: none;
}
main {
  min-height: 80vh;
}
footer {
  user-select: none;
}
div h1 a {
  font-family: "Otomanopee One", sans-serif;
  color: white;
  transition: 1s;
}
div h1 a:hover {
  font-family: "Otomanopee One", sans-serif;
  color: #7ba3ed;
}
h2 {
  font-family: "Nunito", sans-serif;
}
h3 {
  font-family: "Nunito", sans-serif;
}
h4 {
  font-family: "Nunito", sans-serif;
}
h5 {
  font-family: "Nunito", sans-serif;
}
h6 {
  font-family: "Nunito", sans-serif;
}
p {
  font-family: "Nunito", sans-serif;
}
div a {
  font-family: "Nunito", sans-serif;
}
/*CLASES*/
.nav_menu {
  transition: 1s;
  color: white;
}
.nav_menu:hover {
  color: #7ba3ed;
}
.background__primario {
  background-color: #0b2f70;
}
/*ANIMACION ULTIMOS AMIGOS*/
.contenedor {
  position: relative;
}
.capa {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0b2f70;
}
.texto {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.contenedor:hover .capa {
  opacity: 0.7;
}
