footer {
  background-color: $color-uno;
  user-select: none;
}
.icon_redSocial {
  filter: brightness(100);
}
.icon_redSocial:hover {
  transform: scale(1.1);
  filter: none;
}

.footerMenu__icon {
  filter: brightness(100);
}
.footerMenu__icon:hover {
  transform: scale(1.1);
  filter: none;
}
.footerMenu__text {
  color: white;
}
.footerMenu__text:hover {
  color: $color-dos;
}
section {
  a {
    h5 {
      transition: 1s;
      color: white;
    }
  }
}
section:hover {
  a {
    h5 {
      color: $color-dos;
      transform: scale(1.1);
    }
  }
}
