footer {
  background-color: $color-uno;
  user-select: none;
}

section {
  a {
    h5 {
      transition: 1s;
      color: white;
    }
  }
}
section:hover {
  a {
    h5 {
      color: $color-dos;
      transform: scale(1.1);
    }
  }
}

.footerMenu {
  &__icon {
    filter: brightness(100);
    transition: 0.5s;
  }
  &__icon:hover {
    transform: scale(1.1);
    filter: none;
  }
  &__text {
    color: white;
    transition: 0.5s;
  }
}
.icon {
  &_redSocial {
    filter: brightness(100);
    transition: 0.5s;
  }
  &_redSocial:hover {
    transform: scale(1.1);
    filter: none;
  }
}
