/*ETIQUETAS*/

h2 {
  font-family: $font-uno;
}
h3 {
  font-family: $font-uno;
}
h4 {
  font-family: $font-uno;
}
h5 {
  font-family: $font-uno;
}
h6 {
  font-family: $font-uno;
}
p {
  font-family: $font-uno;
}
div a {
  font-family: $font-uno;
}
