/*Colores*/

$color-uno: #0f0aa8;
$color-dos: #ebc926;
$color-tres: #7a76f563;
$color-cuatro: #c9bc79;

/*Fonts*/

$font-title: "Otomanopee One", sans-serif;
$font-uno: "Nunito", sans-serif;
$font-weight: 900;
